<%- include("./partials/header.ejs") %>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/dashboard.css" />
<script src="/javaScript/dashboard.js"></script>

<body>
  <!-- partial:index.partial.html -->
  <div id="app" class="app">
    <div class="header">VIT'B Reviewing Platform</div>
    <div class="page">
      <div class="page-sidebar">
        <div class="page-sidebar-header">Features</div>
        <div class="page-sidebar-body">
          <input type="text" placeholder=" Search..."> <span>🎯</span>
          <br><br>
          <a href="/main">FFCS-faculty-review/VITB 📌</a><br />
          <a href="/facultyDetails">faculty-contact-details 📌</a><br />
          <a href="#">boys-hostel-blockA</a><br />
          <a href="#">boys-hostel-blockB</a><br />
          <a href="#">boys-hostel-blockC</a><br />
          <a href="#">boys-hostel-blockD</a><br />
          <a href="#">girls-hostel-blockA</a><br />
          <a href="#">club-details/feedback</a><br />
          <a href="#">academic-courses/subjects</a><br />
          <a href="#">sports-acitivities</a><br />
          <a href="#">mess1-mayuri-review</a><br />
          <a href="#">mess2-crcl-review</a><br />
          <a href="#">underbelly-menu-review</a><br />

          
        </div>
        <div class="sign-out"><a style="color: rgb(199, 198, 198);" href="/"> Sign out <i style="font-size: 17px;" class="fal fa-sign-out-alt"></i></a></div>
        
      </div>
      <div class="chat">
        <div class="chat-header">
         <span class="head-txt"> Ask your queries here </span>

          <a href="" onclick="hide();return false;"><i class="far fa-bars"></i></a>
        </div>
        <div class="chat-container">
          <div class="chat-container-content">
            <div id="chat" class="chat-content">
            
                <div>
                    
                 <% for(var i=key.length - 1; i>=0; i--) { %>
                        
                  <hr>
                  <div class="profile-icon"><i class="fas fa-user-circle"></i> <%= key[i].name %><code>posted this query</code></div>
                  <% if(i===key.length - 1) { %>
                    <details open>
                  <% }else{ %>
                    <details>
                  <% } %>
                    <summary>
                     <%= key[i].query %>
                    </summary>
                    <div>
                     <% for(var j=key[i].replies.length - 1; j>=0; j--) { %>

                        <span>
                          – <%= key[i].replies[j] %>  <br>
                        </span>

                      <% } %>
                      
                      <form action="" method="post">
                        <input autocomplete="off" name="reply" class="reply" placeholder="Drop your reply..." type="text">
                        <button name="submit_reply" value="<%= key[i].query %>"  type="submit">Reply</button>
                      </form>
                      </div>
                  </details>

                 <% } %>

                </div>
            </div>
            <form autocomplete="off" method="post" class="chat-footer">
              <input
                type="text"
                class="form-control mr-2"
                placeholder="Enter your query message..."
                v-model="message"
                name="newQuery"
                required
              />
              <button name="submit_btn" value="QuerySubmission" type="submit" class="btn btn-primary">Post</button>
            </form>
          </div>
          <div class="chat-sidebar">

            <!-- Live Features in Cards -->
            <div class="container">
              <div class="card">
                <div class="contentBx">
                  <h6>Faculty Reviews</h6>
                
                  <a href="/main">Checkout</a>
                </div>
              </div>
            </div>
            
            <br>
            <div class="container cc">
              <div class="card cd">
                <div class="contentBx">
                  <h6>Faculty Details</h6>
                  
                  <a href="/facultyDetails">Checkout</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include("./partials/footer.ejs") %>
