<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="facultyDetails.css">

<body>
    <div class="fluid-container">
      
        <div class="header">
         <h5>Faculties Contact Information</h5>
         <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-bordered table-dark table-hover">
                      <thead>
                        <tr>
                          <th>Emp ID</th>
                          <th>Name</th>
                          <th>Mobile No</th>
                          <th>Email ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i<details.length; i++) { %>

                        <tr>
                          <td scope="row"> <%=details[i].empID %> </td>
                          <td> <%= details[i].name %> </td>
                          <td> <%= details[i].mob %> </td>
                          <td> <%= details[i].email_ID %> </td>
                        </tr>

                        <% } %>
                        
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</body>


<%- include("./partials/footer.ejs") %>