<%- include("./partials/header.ejs") %>
  <link rel="stylesheet" href="/css/faculty.css">

  <body>
    <form action="" method="post">
      <button class="btn btn-dark back" name="back_btn" value="back" type="submit"><i class="fas fa-long-arrow-alt-left"></i></button>
    </form>
    
    <div class="container">
      <h6>Faculty Count : <%= num %>
      </h6>
    </div>
    <div>
      <center>
        <div class="col-lg-12 col-sm-12">
          <h4>FFCS Faculty Review</h4>
          <br> <p class="subHeading">Reviews of all these faculties are dropped by your friends and seniors. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an and scrambled it to make a type specimen book.</p><br>
          <div class="searchFaculty">
            <input type="text" class="input" id="inputfac" placeholder="Search Faculty...">
            <button><i class="fas fa-search fa-1x"></i></button>
          </div>
          <br>

          <%for(var i=0; i<key.length; i++){%>

            <button class="accordion">
              <%=i+1%>. <%= key[i].faculty %> <i class="fas fa-user-tie"></i>
            </button>
              
              <div class="panel">
                <br>
                <%for(var j=0; j<key[i].reason.length; j++){%>
                  <p><i style="color: rgb(34, 173, 238);" class="fas fa-arrow-alt-circle-right"></i>
                    <em id="reviews">
                      <%= key[i].reason[j] %>
                    </em>
                    
                  </p>
                  <%}%>
              </div>
          <%}%>
              <br>
        </div>
      </center>
    </div>
    <script type="module" src="../databaseURL.js"></script>

  </body>
  <script src="javaScript/faculty.js"></script>
  <%- include("./partials/footer.ejs") %>