
<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <form action="" method="post">
    <button class="btn btn-dark back" name="back_btn" value="back" type="submit"><i class="fas fa-long-arrow-alt-left"></i></button>
  </form>
  <div class=" clarge">
    <div id="container">
      <div class="link">Instructions 🚩
        <span class="tip">
          • Reviews dropped for the faculties will go through the opinion mining 
          and the negative sentiments will be rejected.
          <br><br>
          • Use proper english else response will be rejected.
        </span>
      </div>
    </div>
    <br>
    <br>
      <form id="responseForm" class="submitForm gradient-border" action="/main " method="POST">
        <div class="csmall">
          <label for="faculties">Faculty Name</label>
          <br>
          <div class="select-box">
            <div class="options-container">
              <%for(var i=0; i<key.length; i++){%>
                <div class="option">
                  <input type="radio" class="radio" autocomplete="off"/>
                  <label for="film"><%= key[i].name %> - <%= key[i].empID %></label>
                </div>
              <%}%>
            </div>
            <div class="selected">Search</div>
            <div class="search-box">
              <input name="fname" type="text" placeholder="Search Faculty..." autocomplete="off"/>
            </div>
          </div>
 
          <div class="text-container">
            <label class="reviewLabel">Review</label>
            <textarea name="reason" cols="20" rows="5" placeholder="Post Your Review..." required></textarea>
          </div>
          <br><br>
          <div class="submit_review">
            <form>
              <button class="submit_review_button" id="addToList" name="button1" value="addToList" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit Review
              </button>
            </form>
          </div>
        </div>
      </form>
    <form action="/main" method="POST" class="finalResponseButton">
      <button class="btn btn-outline-dark" type="submit" name="button2" value="blacklist">
        Responses  
      </button>
    </form>
  </div>

    <script src="javaScript/main.js"></script>
    <script>
      // stringify the data passed from router to ejs (within the EJS template only)
      // var parsed_data = <%- JSON.stringify(key) %>  
      //simply link your javascript file and there you can use parsed_data for the pre processing work
      console.log(parsed_data[0]);

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
    </script>
</body>
<%- include("./partials/footer.ejs") %>