<%- include("./partials/header.ejs") %>

  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <body>
    <div class="container">
      <center>
        <div class="col-lg-6 col-lg-12 heading">
          <h1 id="heading">Sucessfully! signed in...</h1>
          <p class="subHeading">
            Click the below button to see the list of faculties you must avoid!
          </p>
        </div>
        <div class="col-lg-6 col-lg-12 btn-div">
          <center>
            <form id="responseForm" class="submitForm gradient-border" action="/main " method="POST">
              <div class="container">
                <label for="faculties">Faculty Name</label>
                <br>
                <!-- <div class="select">
                  <select name="fname" class="faculty"  required>
                    <option>Select one faculty...</option>
          
                    <%for(var i=0; i<key.length; i++){%>
                       <option value="<%= key[i].name %> - <%= key[i].empID %>" ><%= key[i].name %> - <%= key[i].empID %></option>
                       <br>
                    <%}%>
  
                  </select>
                </div> -->

                <!-- <div class="facultyDropDown">
                  <input class="searchinputclass" id="facultySearchBar" onkeyup="search_faculty()" type="text" name="search" placeholder="Search Faculty.." autocomplete="off">
                  <ul id="list">
                    <%for(var i=0; i<key.length; i++){%>
                      <input type="radio" class="radio" />
                      <label class="facultyLi" id="facultyLiid" for="film"><%= key[i].name %> - <%= key[i].empID %></label>
                      <li><%= key[i].name %> - <%= key[i].empID %></li>
                   <%}%>
                  </ul>
                </div> --> 

                <div class="select-box">
                  <div class="options-container">
                    <div class="option" id="option1">
                      <input type="radio" class="radio" />
                    </div>
                    <%for(var i=0; i<key.length; i++){%>

                      <div class="option">
                        <input type="radio" class="radio" />
                        <label for="film"><%= key[i].name %> - <%= key[i].empID %></label>
                      </div>

                   <%}%>
                  </div>
                  <div class="selected">Search</div>
                  <div class="search-box">
                    <input name="fname" type="text" placeholder="Search Faculty..." />
                  </div>
                </div>

                <br>
                <label>Reason</label>
              <textarea name="reason" cols="20" rows="5" placeholder="Drop your reason..." required></textarea>
              <button id="addToList" name="button1" value="addToList" type="submit">
                Submit Review
              </button>
              </div>
            </form>
        </div>
        <form action="/main" method="POST">
          <button class="btn btn-lg btn-outline-light download-button" type="submit" name="button2" value="blacklist">
            Responses  <i class="fas fa-users"></i>
          </button>
        </form>
      </center>
    </div>
    </center>
    </div>

    <footer>
      <p>Copyright 2022 | Anurag Kumar</p>
    </footer>

    <script>
      // stringify the data passed from router to ejs (within the EJS template only)
      var parsed_data = <%- JSON.stringify(key) %>  
      //simply link your javascript file and there you can use parsed_data for the pre processing work
      console.log(parsed_data[0]);

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      // let ul = document.getElementById('list');
      // let li = document.getElementsByClassName('facultyLi');
      // ul.style.display="none";
      // function search_faculty() {
      //   let input = document.getElementById('facultySearchBar').value.toLowerCase();
      //   for (i = 0; i < li.length; i++) {
      //     if(input === ""){
      //       ul.style.display="none";
      //     }
      //     else if (!li[i].innerHTML.toLowerCase().includes(input)) {
      //       ul.style.display="block";
      //       li[i].style.display="none";
      //     }
      //     else if(li[i].innerHTML.toLowerCase().includes(input)){
      //       ul.style.display="block";
      //       li[i].style.display="list-item";
      //     }
      //     else{
      //       // UwU
      //     }
      //   }
      //   for(i=0;i<li.length;i++){
      //     if(li[i].onClick()){
      //       alert("li clicked");
      //     }
      //     else{
      //       alert("not clicked");
      //     }
      //   }
      // }

      const selected = document.querySelector(".selected");
      const optionsContainer = document.querySelector(".options-container");
      const searchBox = document.querySelector(".search-box input");
      const optionsList = document.querySelectorAll(".option");

      selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");
        // searchBox.value = "";
        // filterList("");
        if (optionsContainer.classList.contains("active")) {
          searchBox.focus();
        }
      });

      optionsList.forEach(o => {
        o.addEventListener("click", () => {
          selected.innerHTML = o.querySelector("label").innerHTML;
          // console.log(o.querySelector("label").innerHTML);
          searchBox.value = o.querySelector("label").innerHTML;
          console.log(searchBox.value);
          optionsContainer.classList.remove("active");
        });
      });
      searchBox.addEventListener("keyup", function(e) {
        filterList(e.target.value);
      });
      const filterList = searchTerm => {
        searchTerm = searchTerm.toLowerCase();
        optionsList.forEach(option => {
          let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
          if (label.indexOf(searchTerm) != -1) {
            option.style.display = "block";
          } else {
            option.style.display = "none";
          }
        });
      };

    </script>
  </body>
  <%- include("./partials/footer.ejs") %>