<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/users.css">
  <body>
    <div class="container">
      <h6>Total Users : <%= num %>
      </h6>
    </div>
    <div>
      <center>
        <div class="col-lg-6 col-sm-12 l1">
          <h4>People who used this Web Application</h4>
          <p class="subHeading">All these users are students of VIT Bhopal</p>
          <div class="userlist">
            <%for(var i=0; i<key.length; i++){%>
              <p>
                <%=i+1%>. <%= key[i].name %> - <%= key[i].email %><i class="fas fa-user-circle"></i>
              </p>
              <%}%>
          </div>
          <div class="footer">
            <br>
            <p class="subHeading"> Copyright 2022 | Anurag Kumar </p>
          </div>
      </center>
    </div>
    </div>
  </body>

  <%- include("./partials/footer.ejs") %>